.hero-section {
    height: 520px;
    margin-bottom: 151px;
    background-image: url(#{$img-path}/hero-bg.jpg);
    background-size: cover;
    @include breakpoint("ipad-max") {
        height: 450px;
    }
    @include breakpoint("mobile-max") {
        margin-bottom: 75px;
    }

    .banner {
        height: 100%;
        position: relative;

        &__heading {
            position: absolute;
            left: 15px;
            bottom: 67px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-weight: 900;

            &-title {
                font-size: 57px;
                background-color: $primary-green;
                color: $white-color;
                font-family: $primary-font;
                margin-bottom: 5px;
                @include breakpoint("ipad-max") {
                    font-size: 42px;
                }
                @include breakpoint("portrait-mobile-max") {
                    font-size: 36px;
                }
            }
            &-subtitle {
                font-size: 36px;
                background-color: $primary-green;
                text-transform: uppercase;
                color: $white-color;
                margin-bottom: 35px;
                @include breakpoint("ipad-max") {
                    font-size: 24px;
                    margin-bottom: 24px;
                }
                @include breakpoint("portrait-mobile-max") {
                    font-size: 18px;
                    margin-bottom: 18px;
                }
            }
            &-title,
            &-subtitle {
                padding: 12px 25px 12px 20px;
                @include breakpoint("ipad-max") {
                    padding: 8px 16px 8px 14px;
                }
            }
            &-btn {
                padding: 10px 21px;
                font-size: 22px;
                text-transform: uppercase;
                background-color: $white-color;
                font-weight: 400;
                @include breakpoint("ipad-max") {
                    font-size: 15px;
                    padding: 7px 15px;
                }
            }
        }
        &-icon {
            width: 80px;
            height: 78px;
            background-color: $primary-green;
            position: absolute;
            bottom: -39px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
            @include breakpoint("ipad-max") {
                width: 70px;
                height: 69px;
            }

            @include flexCenter;
            &__inner-square {
                width: 14px;
                height: 23px;
                border: 3px solid $white-color;
            }
        }
    }
}

.irrigation {
    width: 100%;

    .container {
        position: relative;

        @include breakpoint("mobile-max") {
            display: flex;
            justify-content: center;
            padding-top: 150px;
        }
    }

    &-logo {
        width: 182px;
        height: 169px;
        position: absolute;
        top: 0px;
        right: 34px;

        &-img {
            object-fit: contain;
            height: 100%;
            width: 100%;
        }

        @include breakpoint("desktop-max") {
            right: 5px;
        }
        @include breakpoint("ipad-max") {
            width: 140px;
            height: 130px;
            right: 70px;
        }
        @include breakpoint("mobile-max") {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &-heading {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto 0 59px;
        text-transform: uppercase;
        font-weight: 900;

        @include breakpoint("ipad-max") {
            width: 70%;
        }
        @include breakpoint("mobile-max") {
            width: 100%;
        }

        @include breakpoint("desktop-max") {
            margin: 0;
        }

        &__middle {
            text-transform: uppercase;
            font-size: 121px;
            line-height: 0.75;
            font-weight: 900;
            padding: 0;
            margin: 13px 0;
            letter-spacing: -7px;
            font-family: sans-serif;
            background-image: url(#{$img-path}/back-text.jpg);
            background-repeat: no-repeat;
            background-position: bottom;
            -webkit-background-clip: text;
            color: transparent;
            background-clip: text;
            background-size: cover;
            @include breakpoint("ipad-max") {
                font-size: 80px;
                line-height: 0.76;
            }

            @include breakpoint("mobile-max") {
                font-size: 60px;
                text-align: center;
                letter-spacing: -2px;
            }
            @include breakpoint("portrait-mobile-max") {
                font-size: 45px;
                line-height: 1;
                text-align: center;
                letter-spacing: -4px;
                margin: 5px 0;
            }
        }
        &__top,
        &__bottom {
            font-size: 43px;

            @include breakpoint("ipad-max") {
                font-size: 28px;
            }
            @include breakpoint("mobile-max") {
                font-size: 20px;
            }
            @include breakpoint("portrait-mobile-max") {
                font-size: 14px;
            }
        }
        &__top {
            text-align: left;
            margin-left: 111px;
            @include breakpoint("mobile-max") {
                text-align: center;
                margin: 0;
            }
        }
        &__bottom {
            text-align: right;
            @include breakpoint("mobile-max") {
                text-align: center;
            }
        }
    }
}

.services {
    width: 100%;
    padding: 117px 15px 121px 15px;
    background: $linear-grad-white;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 1000px;
        column-gap: 25px;
        row-gap: 40px;
    }

    &-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 130px;
        @include breakpoint("mobile-max") {
            width: 110px;
        }

        &__img {
            height: 75px;
            width: 75px;
            margin-bottom: 20px;
        }
        &__title {
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            @include breakpoint("mobile-max") {
                font-size: 14px;
            }
        }
    }
}

.about {
    background-color: $background-clr-about;
    background-image: url(#{$img-path}/about-us-bg.png);
    background-size: 35%;
    background-repeat: repeat-y;
    color: $white-color;
    margin-bottom: 154px;
    @include breakpoint("mobile-max") {
        background-image: none;
        background-color: white;
        color: $background-clr-about;
        margin-bottom: 100px;
    }

    .container {
        padding: 76px 15px 76px 15px;
        align-items: flex-end;
        gap: 85px;
        justify-content: center;

        @include breakpoint("desktop-max") {
            gap: 45px;
        }
        @include breakpoint("ipad-max") {
            gap: 30px;
        }
        @include breakpoint("mobile-max") {
            padding: 80px 20px 40px 20px;

            gap: 50px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &-img-con {
        position: relative;

        &__img {
            width: 556px;
            object-fit: cover;
            height: 352px;
            border-radius: 15px;

            @include breakpoint("desktop-max") {
                width: 456px;
                height: 350px;
            }
            @include breakpoint("ipad-max") {
                width: 390px;
                height: 310px;
            }
            @include breakpoint("mobile-max") {
                width: calc(100vw - 40px);
                height: 270px;
            }
            // @include breakpoint("portrait-mobile-max") {
            //   height:250px;

            // }
        }

        &__play-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 80px;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 2px solid $secondary-color;
            @include breakpoint("portrait-mobile-max") {
                height: 60px;
                width: 60px;
            }
            &::before {
                content: "";
                position: absolute;
                background: $secondary-color;
                height: 68px;
                width: 68px;
                border-radius: 50%;

                @include breakpoint("portrait-mobile-max") {
                    height: 50px;
                    width: 50px;
                }
            }
            &__img {
                margin-left: 5px;
                height: 22px;
                width: 25px;
                object-fit: contain;
                z-index: 3;
                @include breakpoint("portrait-mobile-max") {
                    height: 20px;
                    width: 22px;
                }
            }
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 393px;

        @include breakpoint("desktop-max") {
            width: 350px;
        }
        @include breakpoint("ipad-max") {
            width: 310px;
        }
        @include breakpoint("mobile-max") {
            width: 100%;
        }

        &__title {
            font-size: 36px;
            font-weight: 900;
            margin-bottom: 16px;
            @include breakpoint("desktop-max") {
                font-size: 24px;
            }
        }

        &__desc {
            font-size: 16px;
            line-height: 1.45;
            margin-bottom: 31px;
            @include breakpoint("desktop-max") {
                font-size: 14px;
                line-height: 1.3;
            }
            @include breakpoint("ipad-max") {
                line-height: 1.1;
            }
        }
        &__btn {
            background-color: $secondary-color;
            color: $white-color;
            padding: 10px 21px;
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 400;
            transition: 0.7s all ease;
            @include breakpoint("desktop-max") {
                font-size: 18px;
            }
            &:hover {
                background-color: $white-color;
                color: $secondary-color;
                border-radius: 25px;
            }
        }
    }
}
