
// Color
$text-color:rgb(80, 80, 80);
$primary-green:rgb(27, 118, 66);

$secondary-green:rgb(15, 92, 48);
$secondary-color:rgb(68, 175, 114);
$light-grey-color:rgb(57, 57, 57);

$white-color:rgb(255, 255, 255);
$grey-color:rgb(39, 39, 39);
$black-color:rgb(0, 0, 0);

$background-clr-about:rgb(63, 53, 49);
$blur-background:rgba(0, 0, 0, 0.1);
$linear-grad-white:linear-gradient(to bottom,rgb(255, 255, 255),rgb(249, 249, 249),rgb(244, 244, 244),rgb(237, 237, 237),rgb(231, 231, 231),rgb(230, 230, 230));

// font family
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Fira Sans', sans-serif;
// border
$blue-border: 1px solid rgb(38, 87, 129 );
$grey-border:1px solid rgba(248, 248, 248 , 0.2);

// img path
$img-path:"../img";